.aumoinsun {
  font-weight: bold;
}

.listeDesSpes {
  font-weight: 500;
}

.img-petit {
  width: 30px;
}

.sous-carte {
  background-color:rgb(224, 224, 224);
/*   border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border: black, solid, 2px; */
}

.agent-bonne-specialite {
  color: blue;
}

.inactif {
  background-color: grey !important;
  border: 0;
}

.plus-minus-circle {
  width: 2rem;
  
}